body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  width: 200px;
}

.display {
  background-color: whitesmoke;
  text-align: right;
  width: 100px;
  height: 20px;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 2px;
}

.btn div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  width: 100px;
}

.btn button {
  background-color: whitesmoke;
  border: 1px solid #ccc;
  padding: 2px;
  font-size: 12px;
  cursor: pointer;
  appearance: none;
  border: none;
  width: 22px;
  height: 18px;
  border-radius: 2px;
}

button.operations {
  background-color: orange;
}
